:root {
  /* Global font, line-height, and colors */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #968d8d;
}

* {
  /* Reset margins, padding, and set box-sizing */
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#app {
  /* Flex container for the app root */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#container {
  /* Main container padding */
  flex-grow: 1;
  padding: 50px;
}

#footer-items {
  /* Footer styling and positioning */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  z-index: 10;
}

a {
  /* Link styling */
  color: #8da3eb;
  text-decoration: none;
}

a:hover {
  /* Link hover effects */
  color: #4c6aca;
  text-decoration: underline;
  transition: 0.2s;
}

#heading {
  /* Center heading content */
  display: flex;
  flex-direction: column;
  margin: em;
  justify-content: center;
  align-items: center;
}

h1 {
  /* Heading font size */
  font-size: 2.5em;
}
h2 {
  /* Heading font size */
  font-size: 2em;
}

h3 {
  /* Heading font size */
  font-size: 1.5em;
}

#title {
  /* Center heading content */
  display: flex;
  flex-direction: row;
  margin-block-start: 10%;
  justify-content: start;
}

#projects {
  /* Center project section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10em;
}

#project-row {
  /* Row layout for projects */
  display: flex;
  justify-content: center;
  padding-top: 7em;
  padding-bottom: 6em;
}

/*.three-model {*/
  /* Styling for project models */
  /*display: flex;
  justify-content: center;
  align-items: center;
}*/

/*#model1,
#model2,
#model3 {
  height: 300px;
  width: 300px;
  margin-right: 3em;
  margin-left: 6em;
}*/

#images {
  /* Center image container */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

img {
  /* Image dimensions and margin */
  width: 100%;
  height: auto;
  cursor: pointer;
}

#images-row {
  /* Row layout for images */
  display: flex;
  align-items: center;
  align-items: center;
  position: relative;
}

#description {
  /* Center description content */
  display: grid;
  align-items: center;
  height: 4em;
  width: 35em;
  font-weight: 100;
  margin-left: 3;
  margin-top: auto;
  margin-bottom: 10%;
}

#modal {
  display: grid;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

#modal-content {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  display: block;
}

#modal span {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #footer-items {
    /* Responsive footer styling */
    display: block;
    flex-direction:row-reverse;
    align-items: center;
    padding: 4rem;
  }

  #footer-items p {
    /* Adjust footer paragraph margin on smaller screens */
    margin: 5px 0;
  }
}
